span {
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}